.DS_Store
.bash_history
.cache
.cargo
.config
.mal-history
.crystal
.lein
.m2
.ivy2
.sbt
.npm
.node-gyp
package-lock.json
.elm
*/experiments
*/node_modules
*.o
*.pyc
*/step0_repl
*/step1_read_print
*/step2_eval
*/step3_env
*/step4_if_fn_do
*/step5_tco
*/step6_file
*/step7_quote
*/step8_macros
*/step9_try
*/stepA_mal
*/mal
*/notes

logs
old

ada/obj/
awk/mal.awk
bash/mal.sh
clojure/mal.jar
clojure/target
clojure/.lein-repl-history
coffee/mal.coffee
cs/*.exe
cs/*.dll
cs/*.mdb
d/*.o
elixir/_build
elixir/deps
elixir/erl_crash.dump
elixir/*.ez
erlang/ebin
erlang/.rebar
erlang/src/*.beam
es6/mal.js
es6/.esm-cache
factor/mal.factor
fantom/lib
forth/mal.fs
fsharp/*.exe
fsharp/*.dll
fsharp/*.mdb
go/step*
groovy/*.class
groovy/mal.jar
haskell/*.hi
haskell/*.o
haxe/*.n
haxe/*.py
haxe/cpp/
haxe/*.js
java/mal.jar
java/target/
java/dependency-reduced-pom.xml
.npm/
.node-gyp/
js/mal.js
js/web/mal.js
kotlin/*.jar
kotlin/.idea
kotlin/*.iml
lua/lib
lua/linenoise.so
lua/rex_pcre.so
lua/mal.lua
make/mal.mk
mal/mal.mal
matlab/octave-workspace
miniMAL/mal.json
nim/nimcache*
objc/*.d
ocaml/*.cmi
ocaml/*.cmo
ocaml/*.swp
ocaml/*.cmx
ocaml/*.o
ocaml/mal_lib.*
objpascal/*.o
objpascal/*.ppu
objpascal/pas-readline
objpascal/regexpr/Source/RegExpr.ppu
perl/mal.pl
perl6/.precomp/
php/mal.php
php/mal-web.php
ps/mal.ps
python/mal.pyz
r/mal.r
ruby/mal.rb
.cargo/
rust/target/
rust/Cargo.lock
rust/.cargo
r/lib
scala/mal.jar
scala/target
scala/project
skew/*.js
tcl/mal.tcl
vb/*.exe
vb/*.dll
vimscript/mal.vim
clisp/*.fas
clisp/*.lib
basic/step0_repl.bas
basic/step1_read_print.bas
basic/step2_eval.bas
basic/step3_env.bas
basic/step4_if_fn_do.bas
basic/step5_tco.bas
basic/step6_file.bas
basic/step7_quote.bas
basic/step8_macros.bas
basic/step9_try.bas
basic/stepA_mal.bas
basic/*.prg
common-lisp/*.fasl
common-lisp/*.lib
common-lisp/images/*
common-lisp/hist/*
livescript/*.js
!livescript/node_readline.js
livescript/node_modules
elm/node_modules
elm/elm-stuff
elm/*.js
!elm/node_readline.js
!elm/bootstrap.js
wasm/*.wat
wasm/*.wasm
