*/experiments
*/node_modules
*.o
*.pyc
*/step0_repl
*/step1_read_print
*/step2_eval
*/step3_env
*/step4_if_fn_do
*/step5_tco
*/step6_file
*/step7_quote
*/step8_macros
*/step9_try
*/stepA_mal
.bash_history
.mal-history
.crystal
.lein
.m2
.ivy2
.sbt
awk/mal.awk
bash/mal.sh
c/mal
cpp/mal
clojure/mal.jar
clojure/target
clojure/.lein-repl-history
coffee/mal.coffee
crystal/mal
cs/*.exe
cs/*.dll
cs/*.mdb
d/mal
elixir/_build
elixir/deps
elixir/erl_crash.dump
elixir/mal
elixir/*.ez
erlang/mal
erlang/ebin
erlang/.rebar
erlang/src/*.beam
es6/mal.js
es6/build
fsharp/*.exe
fsharp/*.dll
fsharp/*.mdb
go/step*
go/mal
groovy/*.class
haskell/mal
haskell/*.hi
haskell/*.o
haxe/*.n
haxe/*.py
haxe/cpp/
haxe/*.js
java/target/
java/dependency-reduced-pom.xml
js/mal.js
js/web/mal.js
kotlin/*.jar
kotlin/.idea
kotlin/*.iml
lua/lib
lua/linenoise.so
make/mal.mk
mal/mal.mal
nim/mal
nim/nimcache*
ocaml/*.cmi
ocaml/*.cmo
ocaml/*.swp
ocaml/*.cmx
ocaml/*.o
ocaml/mal_lib.*
php/mal.php
python/mal.pyz
rust/target/
rust/mal
rust/Cargo.lock
rust/.cargo
r/lib
scala/target
scala/project
vb/*.exe
vb/*.dll
