*/experiments
make/mal.mk
js/node_modules
js/mal.js
js/mal_web.js
bash/mal.sh
c/*.o
*.pyc
c/mal
c/step0_repl
c/step1_read_print
c/step2_eval
c/step3_env
c/step4_if_fn_do
c/step5_tco
c/step6_file
c/step7_quote
c/step8_macros
c/step9_try
c/stepA_interop
cs/*.exe
cs/*.dll
cs/*.mdb
clojure/target
clojure/.lein-repl-history
go/step*
go/mal
java/target/
java/dependency-reduced-pom.xml
rust/target/
rust/Cargo.lock
rust/.cargo
