.DS_Store
.bash_history
.cache
.cargo
.config
.mal-history
.mal_history
.crystal
.lein
.m2
.ivy2
.sbt
.npm
.node-gyp
package-lock.json
*/experiments
node_modules
*/notes
GPATH
GTAGS
GRTAGS
logs
old
tmp/
