/* 
* Skeleton V1.0.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 5/20/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */
	
/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */
	
	/* iPad Portrait/Browser */
	@media only screen and (min-width: 768px) and (max-width: 991px) {}
	
	/* Mobile/Browser */
	@media only screen and (max-width: 767px) {}
	
	/* Mobile Landscape/Browser */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}
	
	/* Anything smaller than standard 960 */
	@media only screen and (max-width: 959px) {
	  h1 {
	    font-size: 48px;
	  }
	  h2 {
	    font-size: 16px;
	    float: none;
	    line-height: 150%;
	    margin-top: -10px;
	  }
	  h3 {
	    font-size: 18px;
	  }
	  h4 {
	    font-size: 14px;
	  }
	  .source p {
	    font-size: 16px;
	  }
	}
	
	/* iPad Portrait Only */
	@media only screen and (min-width: 768px) and (max-width: 991px) and (max-device-width: 1000px) {}
	
	/* Mobile Only */
	@media only screen and (max-width: 767px) and (max-device-width: 1000px) {}
	
	/* Mobile Landscape Only */
	@media only screen and (min-width: 480px) and (max-width: 767px) and (max-device-width: 1000px) {}
	

/* Fonts --------------------------------------------- */

@font-face {
    font-family: 'ExoBold';
    src: url('fonts/exo-bold-webfont.eot');
    src: url('fonts/exo-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/exo-bold-webfont.woff') format('woff'),
         url('fonts/exo-bold-webfont.ttf') format('truetype'),
         url('fonts/exo-bold-webfont.svg#ExoBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ExoBlack';
    src: url('fonts/exo-black-webfont.eot');
    src: url('fonts/exo-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/exo-black-webfont.woff') format('woff'),
         url('fonts/exo-black-webfont.ttf') format('truetype'),
         url('fonts/exo-black-webfont.svg#ExoBlack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ExoRegular';
    src: url('fonts/exo-regular-webfont.eot');
    src: url('fonts/exo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/exo-regular-webfont.woff') format('woff'),
         url('fonts/exo-regular-webfont.ttf') format('truetype'),
         url('fonts/exo-regular-webfont.svg#ExoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
